.about-content .title {
  margin-bottom: 25px;
}

.about-us {
  padding-bottom: 56px;
  .text {
    font-size: $font-size-r;
    font-weight: lighter;
    line-height: 32px;
  }
  @include media($tablet) {
    padding-bottom: 170px;
  }
}
.members {
  .item {
    margin-bottom: 32px;
    .wrapper {
      padding: 8px;
    }
    .content {
      font-size: $font-size-r;
      line-height: 32px;
    }
    .info {
      width: calc(100%-105px);
    }
    .avatar {
      width: 100px;
      height: 100px;
      overflow: hidden;
      margin-right: 0.75rem;
    }
    .name {
      font-weight: bold;
      font-size: $font-size-lg;
    }
    .position,
    .content {
      font-size: $font-size-r;
    }
  }
  .item .head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  @include media($tablet) {
    .item {
      margin-bottom: 120px;
    }
    .item .head {
      margin-bottom: 30px;
    }
  }
}
