.contact-frm {

  @include media($tablet) {
    form input,
    form textarea {
      margin-bottom: 20px;
    }
  }
}
.contact {
  padding-bottom: 40px;
  .title {
    margin-bottom: 30px;
    .main-title {
      margin-bottom: 10px;
    }
    .sub-title {
      font-size: $font-size-r;
    }
  }
  @include media {
    padding-bottom: 107px;
  }
}
