.request-frm {
  input,
  textarea {
    margin-bottom: 16px;
  }
  .btn-group {
    button:first-child {
      margin-right: 8px;
    }
    button {
      width: 134px;
    }
    button.reset-btn {
      background: $bg-input;
    }
  }
  margin-bottom: 30px;
  @include media($tablet) {
    margin-bottom: 294px;
  }
}
.request-demo {
  .title {
    margin-bottom: 24px;
  }
  @include media($tablet) {
    .title {
      margin-bottom: 70px;
    }
  }
}
