@mixin media($device: $desktop) {
  @media (min-width: #{$device}) {
    @content;
  }
}
@mixin font-face(
  $font-name,
  $src-url,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: $font-name;
    src: url($src-url) format("woff");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
