// color
$color-pri: #090b17;
$color-second: #8bdfaf;
$color-muted: #d3dce6;
$color-white: #fff;
$color-black: #000;
$color-blue: #012037;
$color-mint: #5db18c;
$color-dark-blue: #374b61;

$bg-pri: $color-pri;
$bg-second: $color-second;
$txt-content: $color-white;
$txt-second: $color-second;
$bg-submenu: $color-blue;
$bg-submit-btn: $color-mint;
$bg-input: $color-dark-blue;
$bg-btn: $color-white;
$txt-btn: $color-black;

// font-size
$font-size-3xl: 3.5rem; // 36px
$font-size-xxl: 2.25rem; // 36px
$font-size-xl: 2rem; // 32px
$font-size-lg: 1.5rem; // 24px
$font-size-md: 1.25rem; // 20px
$font-size-r: 1.125rem; // 18px
$font-size-sm: 0.875rem; // 14px
$font-size-xs: 0.75rem; // 12px

$main-title: $font-size-3xl; //56px

// breakpoint
$desktop: 1200px;
$tablet: 700px;
$tablet-pro: 1000px;

// font-face
$protokoll-bold: "protokoll", "../fonts/protokoll_bold-webfont.woff", 600;

$font-protokoll: "protokoll", sans-serif;
$font-pri: $font-protokoll;
