.foot-bg {
  // background-image: url(../images/background/foot_bg_mobile.png);
  background-image: url(../images/background/foot-bg.png);
  background-repeat: no-repeat;
  background-position: -250% center;
  background-size: 115%;
  padding: 80px 0;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      #171c36 0%,
      #090b17 61.85%,
      #000000 100%
    );
    z-index: -1;
  }

  @include media($tablet) {
    padding: 53px 0;
    background-position: 138% center;
    background-size: 40%;
  }
}

footer {
  .logo {
    width: 70%;
  }
  .slogan {
    font-size: $font-size-xs;
    line-height: 19px;
    color: #ffffff;
    opacity: 0.7;
  }
  .nav {
    a {
      color: #fff;
      display: inline-block;
      padding: 0.5rem 1.5rem;
    }
  }
  @include media {
    .logo {
      width: 70%;
    }
    .slogan {
      font-size: $font-size-xs;
    }
  }
}
.copy-right {
  font-size: $font-size-xs;
  background: #000;
  padding: 24px 32px;
}
.newsletter {
  margin-top: 85px;
  form {
    margin-top: 28px;
    input,
    button {
      width: 280px;
      height: 60px;
    }
    button {
      font-size: $font-size-r;
    }
  }

  @include media($tablet) {
    margin-top: 0;
    form {
      margin-top: 35px;
    }
    input {
      margin-right: 20px;
      margin-bottom: 0;
    }
    button {
      width: 180px;
    }
  }
}
